<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="uy.edu.cei.taller.dao.ClienteMapper">

	<resultMap id="OneClienteMap"
		type="uy.edu.cei.taller.bean.ClienteBean">
		<id property="idUsuario" column="idUsuario" />
		<result property="documento" column="documento" />
		<result property="nombre" column="nombre" />
		<result property="apellido" column="apellido" />
		<result property="telefono" column="telefono" />
		<result property="isEliminado" column="isEliminado" />

		<association property="Usuario"
			javaType="uy.edu.cei.taller.bean.UsuarioBean">
			<id property="id" column="id" />
			<result property="nombreUsuario" column="nombreUsuario" />
			<result property="email" column="email" />
			<result property="contraseña" column="contraseña" />
			<result property="ubicacion" column="ubicacion" />
			<result property="activo" column="activo" />
			<result property="idRol" column="idRol" />
			<result property="valoracion" column="valoracion" />
			<result property="verificado" column="verificado" />
			<result property="connId" column="connId" />
			<result property="isEliminado" column="isEliminado" />
		</association>

		<collection property="Direcciones" column="idUsuario"
			ofType="uy.edu.cei.taller.bean.DireccionBean"
			select="selectDireccionesByidUsuario" />

	</resultMap>


	<select id="selectDireccionesByidUsuario"
		resultType="uy.edu.cei.taller.bean.DireccionBean">
		SELECT * FROM DIRECCIONES WHERE isEliminado=0 AND
		idUsuario=#{idUsuario}
	</select>


	<select id="selectAll" resultMap="OneClienteMap">
		SELECT * FROM CLIENTES
	</select>

	<select id="selectById" resultMap="OneClienteMap">
		SELECT * FROM CLIENTES WHERE
		idUsuario=#{idUsuario}
	</select>

	<insert id="insert">
		insert into CLIENTES
		(idUsuario,documento,nombre,apellido,telefono,dtNacimiento)
		values
		(#{cliente.idUsuario},#{cliente.documento},#{cliente.nombre},#{cliente.apellido},#{cliente.telefono},#{cliente.dtNacimiento})


	</insert>

	<update id="updateById">
		UPDATE CLIENTES
		<set>
			<if test="cliente.idUsuario!=null and cliente.idUsuario!='' ">
				idUsuario = #{cliente.idUsuario},
			</if>
			<if test="cliente.documento!=null and cliente.documento!='' ">
				documento = #{cliente.documento},
			</if>
			<if test="cliente.nombre!=null and cliente.nombre!='' ">
				nombre = #{cliente.nombre},
			</if>
			<if test="cliente.apellido!=null and cliente.apellido!='' ">
				apellido = #{cliente.apellido},
			</if>
			<if test="cliente.telefono!=null and cliente.telefono!='' ">
				telefono = #{cliente.telefono},
			</if>
			<if
				test="cliente.dtNacimiento!=null ">
				dtNacimiento = #{cliente.dtNacimiento},
			</if>
			<if test="cliente.isEliminado!=null ">
				isEliminado = #{cliente.isEliminado},
			</if>


		</set>
		WHERE idUsuario = #{cliente.idUsuario}
	</update>

	<!-- test -->
	<delete id="deleteById">

		UPDATE CLIENTES SET isEliminado = 1 WHERE idUsuario = #{id};

	</delete>




</mapper>
