<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="uy.edu.cei.taller.dao.DireccionMapper">

<resultMap id="OneDireccionMap"
		type="uy.edu.cei.taller.bean.DireccionBean">
		<id property="id" column="id" />
		<result property="nombre" column="nombre" />
		<result property="ubicacion" column="ubicacion" />
		<result property="descripcion" column="descripcion" />
		<result property="isEliminado" column="isEliminado" />
		
</resultMap>

	<select id="selectByidUsuario"
		resultType="uy.edu.cei.taller.bean.DireccionBean">
		SELECT * FROM DIRECCIONES WHERE isEliminado=0 AND idUsuario=#{idUsuario}
	</select>

	<insert id="insert">
		insert into Direcciones
		(nombre,ubicacion,descripcion,idUsuario)
		values
		(#{direccion.nombre},#{direccion.ubicacion},#{direccion.descripcion},#{direccion.idUsuario})
	</insert>

	<delete id="deleteByIdUsuario">
		UPDATE Direcciones SET Direcciones.isEliminado = 1
		WHERE id = 0; #{idUsuario};
	</delete>
	
</mapper> 
