<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="uy.edu.cei.taller.dao.ClienteMapper">




		
<!-- 		<select id="selectAll" -->
<!-- 		resultType="uy.edu.cei.taller.bean.ClientesBean"> -->
<!-- 		SELECT * FROM CLIENTES WHHERE isEliminado=0 -->
<!-- 	</select> -->

	<select id="selectByidUsuario"  resultType="uy.edu.cei.taller.bean.DireccionBean">
	
	SELECT * FROM DIRECCIONES WHERE isEliminado=0 AND idUsuario=#{idUsuario}
	
	</select>
	
	<insert id="insert">
		insert into DIRECCIONES
		(ubicacion,nombre,descripcion,idUsuario)
		values
		
		(#{direccion.ubicacion},#{direccion.nombre},#{direccion.descripcion},#{direccion.idUsuario})
	
		

	</insert>
	
	
	
	<delete id="deleteByIdUsuario">
	UPDATE Direcciones SET Direcciones.isEliminado = 1
		WHERE id = 0; --#{idUsuario};
	
	</delete>
<!-- 	<select id="selectIfNameStartWith" resultType="uy.edu.cei.taller.bean.ClienteBean"> -->
<!-- 		SELECT * FROM CLIENTES WHERE LIKE '%'|| #{nombre} ||'%' -->
<!-- 	</select> -->
	
<!-- 	<select id="selectById" resultMap="OneClienteMap"> -->
<!-- 		SELECT * FROM CLIENTES WHERE idUsuario=#{idUsuario} -->
<!-- 	</select> -->
	
<!-- 	<insert id="insert"> -->
<!-- 		insert into CLIENTES -->
<!-- 		(idUsuario,documento,nombre,apellido,telefono,isEliminado) -->
<!-- 		values -->
<!-- 		<if test="clientes.idUsuario!=null"> -->
<!-- 			(#{cliente.idUsuario},#{cliente.documento},#{cliente.nombre},#{cliente.apellido},#{cliente.telefono},#{cliente.isEliminado}) -->
<!-- 		</if> -->

<!-- 	</insert> -->
	
<!-- 	<update id="updateByIdUsuarioOrNombre"> -->
<!-- 		UPDATE CLIENTES -->
<!-- 		<set> -->
<!-- 			<if	test="cliente.idUsuario!=null and cliente.idUsuario!='' "> -->
<!-- 				idUsuario = #{cliente.idUsuario}, -->
<!-- 			</if> -->
<!-- 			<if	test="cliente.documento!=null and cliente.documento!='' "> -->
<!-- 				documento = #{cliente.documento}, -->
<!-- 			</if> -->
<!-- 			<if	test="cliente.nombre!=null and cliente.nombre!='' "> -->
<!-- 				nombre = #{cliente.nombre}, -->
<!-- 			</if> -->
<!-- 			<if	test="cliente.apellido!=null and cliente.apellido!='' "> -->
<!-- 				apellido = #{cliente.apellido}, -->
<!-- 			</if> -->
<!-- 			<if	test="cliente.telefono!=null and cliente.telefono!='' "> -->
<!-- 				telefono = #{cliente.telefono}, -->
<!-- 			</if> -->
<!-- 			<if	test="cliente.isEliminado!=null and cliente.isEliminado!='' "> -->
<!-- 				isEliminado = #{cliente.isEliminado}, -->
<!-- 			</if> -->
		

<!-- 		</set> -->
<!-- 		WHERE idUsuario = #{cliente.idUsuario} or nombre = #{cliente.nombre}; -->
<!-- 	</update> -->
	
<!-- 	<delete id="deleteById"> -->
<!-- 		SELECT * FROM Clientes c WHERE c.idUsuario =#{id};) -->
<!--         UPDATE Clientes SET Clientes.isEliminado =0 WHERE Clientes.idUsuario = #{id}; -->

<!-- 	</delete> -->
	
<!-- 		<delete id="deleteByNombre"> -->
<!-- 		delete from CLIENTES where nombre = #{nombreUsuario} -->
		
<!-- 	</delete> -->
	
	
</mapper>
