<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="uy.edu.cei.taller.dao.UsuarioMapper">

	<resultMap id="OneUsuarioMap"
		type="uy.edu.cei.taller.bean.UsuarioBean">
		<id property="id" column="id" />
		<result property="nombreUsuario" column="nombreUsuario" />
		<result property="email" column="email" />
		<result property="ubicacion" column="ubicacion" />
		<result property="activo" column="activo" />
		<result property="idRol" column="idRol" />
		<result property="valoracion" column="valoracion" />
		<result property="verificado" column="verificado" />
		<result property="connId" column="connId" />
		<result property="isEliminado" column="isEliminado" />

		<association property="Roles"
			javaType="uy.edu.cei.taller.bean.RolBean">
			<id property="id" column="idRol" />
			<result property="rol" column="rol" />
			<collection property="permisos" column="idRol"
				ofType="uy.edu.cei.taller.bean.PermisoBean"
				select="selectPermisosByIdRol" />
		</association>
		
		<association property="Clientes"
			javaType="uy.edu.cei.taller.bean.ClienteBean">
			<id property="idUsuario" column="idUsuario" />
			<result property="documento" column="documento" />
			<result property="nombre" column="nombre" />
			<result property="apellido" column="apellido" />
			<result property="telefono" column="telefono" />
			<result property="isEliminado" column="isEliminado" />
			<collection property="direcciones" column="idUsuario"
				ofType="uy.edu.cei.taller.bean.DireccionBean"
				select="selectDireccionesByIdUsuario" />
			
			
		</association>
	
	</resultMap>

	<select id="selectAll"
		resultType="uy.edu.cei.taller.bean.UsuarioBean" resultMap="OneUsuarioMap">
		SELECT * FROM
		USUARIOS u
		inner join ROLES r on u.idRol = r.id
		left join DETALLESROLES
		d on r.id = d.idRol
		left join PERMISOS p on p.id = d.idPermiso
		left join CLIENTES c on c.idUsuario = u.id
		left join DIRECCIONES dir on dir.idUsuario = u.id
	</select>

	<select id="selectIfNameStartWith" resultType="uy.edu.cei.taller.bean.UsuarioBean">
		SELECT * FROM USUARIOS WHERE LIKE '%'|| #{nombreUsuario} ||'%'
	</select>
	
	<select id="selectByNombreUsuario" resultMap="OneUsuarioMap">
		SELECT * FROM
		USUARIOS u
		inner join ROLES r on u.idRol = r.id
		left join DETALLESROLES
		d on r.id = d.idRol
		left join PERMISOS p on p.id = d.idPermiso
		left join CLIENTES c on c.idUsuario = u.id
		left join DIRECCIONES dir on dir.idUsuario = u.id
		WHERE nombreUsuario=#{nombreUsuario}
	</select>

	<select id="selectById" resultMap="OneUsuarioMap">
		SELECT * FROM
		USUARIOS u
		inner join ROLES r on u.idRol = r.id
		left join DETALLESROLES
		d on r.id = d.idRol
		left join PERMISOS p on p.id = d.idPermiso
		left join CLIENTES c on c.idUsuario = u.id
		left join DIRECCIONES dir on dir.idUsuario = u.id
		WHERE id=#{id}
	</select>

	<select id="selectPermisosByIdRol"
		resultType="uy.edu.cei.taller.bean.PermisoBean">
		SELECT * from PERMISOS p where p.id in (SELECT d.idPermiso
		FROM DETALLESROLES d WHERE d.idRol = #{id})
	</select>

	<select id="selectDireccionesByIdUsuario"
		resultType="uy.edu.cei.taller.bean.DireccionBean">
		SELECT * from DIRECCIONES p where p.idUsuario = #{idUsuario}
	</select>

	<insert id="insert">
		insert into USUARIOS
		(nombreUsuario,contraseña,email,idRol,verificado)
		values
		<if test="usuario.verificado!=null">
			(#{usuario.nombreUsuario},#{usuario.contraseña},#{usuario.email},#{usuario.idRol},#{usuario.verificado})
		</if>
		<if test="usuario.verificado==null">
			(#{usuario.nombreUsuario},#{usuario.contraseña},#{usuario.email},#{usuario.idRol},0)
		</if>

	</insert>

	<update id="updateByIdOrNombreUsuario">
		UPDATE USUARIOS
		<set>
			<if
				test="usuario.nombreUsuario!=null and usuario.nombreUsuario!='' ">
				nombreUsuario = #{usuario.nombreUsuario},
			</if>
			<if test="usuario.contraseña!=null and usuario.contraseña!='' ">
				contraseña = #{usuario.contraseña},
			</if>
			<if test="usuario.email!=null and usuario.email!='' ">
				email = #{usuario.email},
			</if>
			<if test="usuario.idRol!=null and usuario.idRol!='' ">
				idRol = #{usuario.idRol},
			</if>
			<if test="usuario.ubicacion!=null and usuario.ubicacion!='' ">
				ubicacion = #{usuario.ubicacion},
			</if>
			<if test="usuario.activo!=null and usuario.activo!='' ">
				activo = #{usuario.activo},
			</if>
			<if test="usuario.valoracion!=null and usuario.valoracion!='' ">
				valoracion = #{usuario.valoracion},
			</if>
			<if test="usuario.verificado!=null and usuario.verificado!='' ">
				verificado = #{usuario.verificado},
			</if>
			<if test="usuario.connId!=null and usuario.connId!='' ">
				connId = #{usuario.connId},
			</if>
			<if test="usuario.isEliminado!=null and usuario.isEliminado!='' ">
				isEliminado = #{usuario.isEliminado},
			</if>
			<if test="usuario.ubicacion!=null and usuario.ubicacion!='' ">
				ubicacion = #{usuario.ubicacion}
			</if>
			
		</set>
		WHERE id = #{usuario.id} or nombreUsuario = #{usuario.nombreUsuario};
	</update>

	<delete id="deleteByNombreUsuario">
		delete from USUARIOS where nombreUsuario =
		#{nombreUsuario}
	</delete>
	
	<delete id="deleteById">
		UPDATE Usuarios SET Usuarios.isEliminado = 1
		WHERE id = #{id};

		IF EXISTS(SELECT * FROM Clientes c WHERE c.idUsuario =#{id};)
        UPDATE Clientes SET Clientes.isEliminado =0 WHERE Clientes.idUsuario = #{id};

	</delete>
	
</mapper>