<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="uy.edu.cei.taller.dao.ViajeMapper">

	<resultMap id="OneViajeMap"
		type="uy.edu.cei.taller.bean.ViajeBean">
		<id property="id" column="id" />
		<result property="dtEmision" column="dtEmision" />
		<result property="estado" column="estado" />
		<result property="valoracionCliente" column="valoracionCliente" />
		<result property="valoracionChofer" column="valoracionChofer" />
		<result property="precioFinal" column="precioFinal" />
		<result property="telefonoCliente" column="telefonoCliente" />
		<result property="origen" column="origen" />
		<result property="destino" column="destino" />
		<result property="cantKm" column="cantKm" />
		<result property="idChofer" column="idChofer" />
		<result property="idCliente" column="idCliente" />
		<result property="idUsuarioMod" column="idUsuarioMod" />
		<result property="dtReserva" column="dtReserva" />
		<result property="idViaje2" column="idViaje2" />
		<result property="isEliminado" column="isEliminado" />

		<association property="Usuario"
			javaType="uy.edu.cei.taller.bean.UsuarioBean">
			<id property="id" column="id" />
			<result property="nombreUsuario" column="nombreUsuario" />
			<result property="email" column="email" />
			<result property="ubicacion" column="ubicacion" />
			<result property="activo" column="activo" />
			<result property="idRol" column="idRol" />
			<result property="valoracion" column="valoracion" />
			<result property="verificado" column="verificado" />
			<result property="connId" column="connId" />
			<result property="isEliminado" column="isEliminado" />
		</association>

		<association property="Viaje2"
			javaType="uy.edu.cei.taller.bean.ViajeBean">
			<id property="id" column="id" />
			<result property="dtEmision" column="dtEmision" />
			<result property="estado" column="estado" />
			<result property="valoracionCliente"
				column="valoracionCliente" />
			<result property="valoracionChofer" column="valoracionChofer" />
			<result property="precioFinal" column="precioFinal" />
			<result property="telefonoCliente" column="telefonoCliente" />
			<result property="origen" column="origen" />
			<result property="destino" column="destino" />
			<result property="cantKm" column="cantKm" />
			<result property="idChofer" column="idChofer" />
			<result property="idCliente" column="idCliente" />
			<result property="idUsuarioMod" column="idUsuarioMod" />
			<result property="dtReserva" column="dtReserva" />
			<result property="idViaje2" column="idViaje2" />
			<result property="isEliminado" column="isEliminado" />
		</association>

	</resultMap>

	<select id="selectAll"
		resultType="uy.edu.cei.taller.bean.ViajeBean">
		SELECT * FROM VIAJES
	</select>

	<select id="selectById" resultMap="OneViajeMap">

		SELECT * FROM VIAJES v
		inner join USUARIOS u on v.idChofer = u.id
		<!-- left join Clientes c on v.idCliente = c.idUsuario -->
		left join VIAJES vv on v.idViaje2 = vv.id
		where v.id = #{id}

	</select>

	<select id="selectViajesForAssignViaje2"
		resultType="uy.edu.cei.taller.bean.ViajeBean">

		SELECT * FROM VIAJES w WHERE
		((w.estado = 'edicion' and
		w.idChofer != null) or w.estado = 'camino')
		and w.valoracionChofer = 1
		and w.idViaje2 = null

	</select>

	<select id="selectViajesByCliente"
		resultType="uy.edu.cei.taller.bean.ViajeBean">

		SELECT * FROM VIAJES w WHERE
		w.isEliminado = 0 and
		w.idCliente = #{id}

	</select>

	<select id="selectViajesFinishOrCancelado"
		resultType="uy.edu.cei.taller.bean.ViajeBean">

		SELECT * FROM VIAJES w WHERE
		w.isEliminado = 0 and (w.estado
		= 'finalizado' or w.estado = 'cancelado')

	</select>

	<select id="selectViajesByRangeDt"
		resultType="uy.edu.cei.taller.bean.ViajeBean">

		SELECT * FROM VIAJES w WHERE
		w. = 0 and (w.estado
		= 'finalizado' or w.estado = 'cancelado')

	</select>


	<!-- where campoFecha between '2014-05-05' and '2014-05-06 23:59:59'-->

	<select id="anyClienteHaveViajeInProcess" resultType="Boolean">

		SELECT CASE
		WHEN EXISTS (select * from Viajes where idCliente = #{id} and estado
		not in ('cancelado', 'finalizado') and isEliminado = 0 )THEN
		CAST(1 AS
		BIT)ELSE CAST(0 AS
		BIT) END

	</select>

	<select id="anyChoferHaveViajeInProcess" resultType="Boolean">

		SELECT CASE
		WHEN EXISTS (select * from Viajes where idCliente = #{id} and estado
		not in ('cancelado', 'finalizado') and isEliminado = 0)THEN CAST(1
		AS
		BIT)ELSE CAST(0 AS
		BIT) END

	</select>

	<!-- <select id="selectPermisosByIdRol" -->
	<!-- resultType="uy.edu.cei.taller.bean.PermisoBean"> -->
	<!-- SELECT * from PERMISOS p where p.id in (SELECT d.idPermiso -->
	<!-- FROM DETALLESROLES d WHERE d.idRol = #{id}) -->
	<!-- </select> -->


	<insert id="insert" useGeneratedKeys="true" keyProperty="id"
		keyColumn="id">
		insert into VIAJES
		(dtEmision,estado,valoracionCliente,valoracionChofer,precioFinal,telefonoCliente,origen,
		destino,cantKm,idChofer,idCliente,idUsuarioMod,dtReserva,idViaje2,isEliminado)
		VALUES
		(
		#{viaje.dtEmision}
		,#{viaje.estado}
		,#{viaje.valoracionCliente}
		,#{viaje.valoracionChofer}
		,#{viaje.precioFinal}
		,#{viaje.telefonoCliente}
		,#{viaje.origen}
		,#{viaje.destino}
		,#{viaje.cantKm}
		,#{viaje.idChofer}
		,#{viaje.idCliente}
		,#{viaje.idUsuarioMod}
		,#{viaje.dtReserva}
		,#{viaje.idViaje2}
		,#{viaje.isEliminado}
		)

	</insert>

	<update id="updateById">
		UPDATE VIAJES
		<set>
			<if test="viaje.dtEmision!=null and viaje.dtEmision!='' ">
				dtEmision = #{viaje.dtEmision},
			</if>
			<if test="viaje.estado!=null and viaje.estado!='' ">
				estado = #{viaje.estado},
			</if>
			<if
				test="viaje.valoracionCliente!=null and viaje.valoracionCliente!='' ">
				valoracionCliente = #{viaje.valoracionCliente},
			</if>
			<if
				test="viaje.valoracionChofer!=null and viaje.valoracionChofer!='' ">
				valoracionChofer = #{viaje.valoracionChofer},
			</if>
			<if test="viaje.precioFinal!=null and viaje.precioFinal!='' ">
				precioFinal = #{viaje.precioFinal},
			</if>
			<if
				test="viaje.telefonoCliente!=null and viaje.telefonoCliente!='' ">
				telefonoCliente = #{viaje.telefonoCliente},
			</if>
			<if test="viaje.origen!=null and viaje.origen!='' ">
				origen = #{viaje.origen},
			</if>
			<if test="viaje.destino!=null and viaje.destino!='' ">
				destino = #{viaje.destino},
			</if>
			<if test="viaje.cantKm!=null and viaje.cantKm!='' ">
				cantKm = #{viaje.cantKm},
			</if>
			<if test="viaje.idChofer!=null and viaje.idChofer!='' ">
				idChofer = #{viaje.idChofer},
			</if>
			<if test="viaje.idCliente!=null and viaje.idCliente!='' ">
				idCliente = #{viaje.idCliente},
			</if>
			<if test="viaje.idUsuarioMod!=null and viaje.idUsuarioMod!='' ">
				idUsuarioMod = #{viaje.idUsuarioMod},
			</if>
			<if test="viaje.dtReserva!=null and viaje.dtReserva!='' ">
				dtReserva = #{viaje.dtReserva},
			</if>
			<if test="viaje.idViaje2!=null and viaje.idViaje2!='' ">
				idViaje2 = #{viaje.idViaje2},
			</if>
			<if test="viaje.isEliminado!=null and viaje.isEliminado!='' ">
				isEliminado = #{viaje.isEliminado}
			</if>
		</set>
		WHERE id = #{viaje.id}
	</update>


	<delete id="deleteById">

		UPDATE VIAJES SET isEliminado = 1
		WHERE id = #{id};

	</delete>
</mapper>
